<!DOCTYPE html>
<html>
<head>
  <title>AuthBackboneSkeleton</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
  	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
</head>
<body>
	<article class="wrapper bg" data-ibg-bg="<%= image_url("background.jpg") %>">

	<%= render partial: "layouts/navbar" %>
	<%= render partial: "layouts/error" %>
		
		<%= yield %>

	<!-- <a href="http://www.freepik.com">Designed by Freepik</a> -->
	</article>
</body>
</html>
